version: "3.8"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    depends_on:
      - zookeeper
    ports:
      # 호스트(윈도우)에서 Kafka 접근할 때
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"

      # 리스너를 내부/외부로 분리
      KAFKA_LISTENERS: "INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka:29092,EXTERNAL://localhost:9092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"

      # 로컬 실습 단순화 옵션
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  akhq:
    image: tchiotludo/akhq:latest
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    volumes:
      - ./akhq/application.yml:/app/application.yml:ro
    environment:
      # Micronaut이 /app/application.yml을 읽게
      MICRONAUT_CONFIG_FILES: "/app/application.yml"

  producer-api:
    build:
      context: ./producer_api
      dockerfile: Dockerfile
    depends_on:
      - kafka
    environment:
      # Spring에서 이 값을 읽어서 producer 설정에 사용
      KAFKA_BOOTSTRAP_SERVERS: "kafka:29092"
      KAFKA_TOPIC: "demo.ui-events"
      SERVER_PORT: "8082"
    ports:
      - "8082:8082"

  ui:
    build:
      context: ./ui
      dockerfile: Dockerfile
    depends_on:
      - producer-api
    ports:
      - "8081:80"